
/* landing page */
.App {
  text-align: center;
}

.App-logo {
  background-color: #5D18EB;
  height: 40vmin;
  pointer-events: none;
  margin-left: 80px;
}

.App-header {
  background-color: #5D18EB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  font-family: 'Nunito', sans-serif;
}

/* search */
.input-group {
  width: 50%;
  margin: 3% 0 0 10%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}